<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <TH2Components>
        <ACT>10.0.22.22:30774</ACT>
        <ACT_1>10.0.22.22:32706</ACT_1>
        <EVENTSTORAGE>10.0.22.22:31649</EVENTSTORAGE>
        <VERIFIER>10.0.22.22:31445</VERIFIER>
        <SIMULATOR>10.0.22.22:31977</SIMULATOR>
<!--        <SIMULATOR>localhost:8081</SIMULATOR>-->
    </TH2Components>
</Configuration>