--extra-index-url https://quod-repos.exactpro.com/repository/quod-pypi/simple/
th2-common==3.2.0
th2-grpc-common==3.1.2
th2_grpc_check1==3.1.4
th2-grpc-act-quod==3.0.5
th2-grpc-sim-quod==3.0.14
th2-grpc-sim==3.1.1
th2-grpc-sim-http==3.0.11
th2-grpc-act-gui-quod==1.13.6-quod-dev.397
th2-grpc-hand==2.7.3

grpcio
grpcio-tools
google-api-core
pandas~=1.2.1
utils~=1.0.1
timestring~=1.6.4