--extra-index-url https://centurion.quodfinancial.com/repository/Quod-PyPI/simple
th2-common==3.9.1
th2-grpc-common==3.11.1
th2-grpc-check1==3.6.0
th2-grpc-act-fix-quod==3.1.8
th2-grpc-sim-fix-quod==3.1.48
th2-grpc-sim==4.1.0
th2-grpc-sim-http-quod==3.1.3
th2-grpc-act-gui-quod==1.14.15-quod-dev.774
th2-grpc-hand==2.11.0
th2-grpc-act-rest-quod==0.0.12
th2-grpc-act-java-api-quod==0.0.16
th2_data_services==0.6.2
th2_grpc_sim_http-quod==3.1.3

grpcio
grpcio-tools==1.38.1
google-api-core
pandas~=1.2.1
utils~=1.0.1
timestring~=1.6.4
pybase64~=1.1.4
psycopg2~=2.9.1
paramiko~=2.7.2
protobuf==3.19.4

Pillow~=8.3.1
aenum~=3.1.5

pyperclip
selenium
PyPDF2
webdriver_manager
datetimerange

Appium-Python-Client==2.2.0

